.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;
}

.form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.input {
  height: 1.5rem;
}
